.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper ul {
  margin: 0;
  margin-right: 15px;

  display: flex;
  align-items: center;
}

.header__wrapper ul li {
  list-style: none;
  margin: 0 10px;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
}

.header__wrapper button {
  padding: 0.75rem 1rem;
}

.hero__wrapper {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
}

.hero__wrapper .big__heading {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
  margin-bottom: 20px;
}

.hero__wrapper p {
  font-size: 20px;
  max-width: 700px;
  margin-bottom: 25px;
}

@media screen and (max-width: 450px) {
  .hero__wrapper {
    padding-bottom: 15vh;
  }
  .header__wrapper button {
    padding: 0.5rem 0.75rem;
  }
  .hero__wrapper .big__heading {
    margin-bottom: 10px;
  }
  .hero__wrapper p {
    font-size: 16px;
    max-width: 700px;
    margin-bottom: 15px;
  }
}
