.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: #fff;
  z-index: 999;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper ul {
  margin: 0;
  margin-right: 15px;

  display: flex;
  align-items: center;
}

.header__wrapper ul li {
  list-style: none;
  margin: 0;
  margin-left: 30px;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
}

.header__wrapper button {
  padding: 0.75rem 1rem;
  margin-left: 30px;
}

.header__wrapper.mobile {
  display: none;
}

/* Hamburger icon and animation */
.hamburger .line {
  width: 40px;
  height: 4px;
  background-color: #272343;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

/* Mobile Drawer */
.mobile__drawer {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile__drawer ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.mobile__drawer ul li {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.mobile__drawer button {
  font-size: 16px;
  width: max-content;
}

/* Hero style */
.hero__wrapper {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
  max-width: 900px;
  margin: 0 auto;
}

.hero__wrapper .big__heading {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
  margin-bottom: 20px;
}

.hero__wrapper p {
  font-size: 20px;
  max-width: 700px;
  margin-bottom: 25px;
}

/* About Style */
.about {
}

.about .my__img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin: 0 auto;
}

.about__tech {
  display: flex;
  justify-content: flex-start;
}

.about__tech ul {
  list-style: none;
  padding-left: 0;
  margin-right: 50px;
}

.about__tech ul li {
  font-size: 13px;
}

.about__tech ul li::before {
  content: "\f054"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  width: 1em;
  margin-right: 10px;
  color: #272343;
  margin-bottom: 15px;
}

/* Contact Style */
.contact {
  max-width: 500px;
}

.contact h2 {
  margin-bottom: 25px;
  font-weight: 600;
}

.contact p {
  margin-bottom: 25px;
}

/* Works style */
.works img {
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.works .row {
  position: relative;
}

.works_link {
  margin-top: 25px;
}

.works_link a {
  background-color: #ffd803;
  color: #272343;
  padding: 0.75rem 1.75rem;
  border: transparent;

  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  transition: all 0.3s ease;
}

.works_link a:hover {
  background-color: #e9c600;
}

.works .items {
  margin-bottom: 100px;
}

.works .items .desc {
  background-color: #e3f6f5;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 10px 30px -15px #c4c4c4;
}

.works .items .desc p {
  margin: 0;
}

.works_desc {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 9;
  width: 100%;
  max-width: 500px;
}

.works_desc.right {
  text-align: right;
  left: unset;
  right: 0;
}

.works_desc h4 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
}

.works .tech__stack {
  margin-top: 15px;
  margin-bottom: 15px;
}

.works .tech__stack ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
}

.works .tech__stack.right ul {
  justify-content: flex-end;
}

.works .tech__stack ul li {
  margin: 0;
  margin-right: 20px;
  font-size: 13px;
  font-weight: 500;
}

.works .tech__stack.right ul li {
  margin: 0;
  margin-left: 20px;
  font-size: 13px;
  font-weight: 500;
}

@media screen and (max-width: 450px) {
  .header__wrapper button {
    padding: 0.5rem 0.75rem;
  }
  .header__wrapper.desktop {
    display: none;
  }
  .header__wrapper.mobile {
    display: flex;

    position: relative;
    z-index: 102;
  }
  .hero__wrapper {
    padding-bottom: 15vh;
  }
  .hero__wrapper .big__heading {
    margin-bottom: 10px;
  }
  .hero__wrapper p {
    font-size: 16px;
    max-width: 700px;
    margin-bottom: 15px;
  }
}
