@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fffffe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #272343;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
}

h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}

p {
  color: #2d334a;
}

button {
  background-color: #ffd803;
  color: #272343;
  padding: 1.25rem 1.75rem;
  border: transparent;

  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #e9c600;
}

section {
  background-color: #e3f6f5;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.footer h6 {
  font-weight: 400;
  font-size: 13px;
  color: #272343;
  opacity: 0.7;
}

.footer ul {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
  display: none;
}

.footer ul li {
  list-style: none;
  margin-right: 15px;
}

.footer ul li a {
  color: #272343;
}

.footer ul li a svg {
  width: 20px;
  height: 20px;
}

.socials {
  width: 40px;
  position: fixed;
  bottom: 0px;
  right: 30px;
  left: auto;
  z-index: 10;
}

.socials ul {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.socials ul li {
  list-style: none;
  margin-bottom: 15px;
}

.socials ul li a {
  color: #272343;
}

.socials ul li a:hover {
  color: #f9bc60;
}

.socials ul li a svg {
  width: 20px;
  height: 20px;
}

.socials ul::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #272343;
}

@media screen and (max-width: 450px) {
  button {
    padding: 1rem 1.5rem;
  }
  .socials {
    width: 30px;
    right: 10px;
    display: none;
  }
  .footer ul {
    display: flex;
  }
}
